<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Create New ToDo List</title>
</head>
<body>

<div th:insert="~{fragments/header.html}"></div>

<div class="col-xs-4 col-xs-offset-4">
    <h2 >Create New ToDo List</h2>

    <form class="form-horizontal" th:action="@{|/todos/create/users/${owner_id}|}" th:object="${todo}"
          method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <div>
                <input class="form-control" type="text" th:field="*{title}" id="title"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}"></small>
            </div>
        </div>

        <div>
            <input class="btn btn-info" type="submit" value="Create"/>
            <input class="btn btn" type="reset" value="Clear"/>
        </div>
    </form>

    <a th:href="@{|/todos/all/users/${ownerId}|}">Go to To-Do List</a>
</div>

</body>
</html>